* {
  font-family: JetbrainsMono Nerd Font;
  font-size: 12px;
  min-height: 0;
}

#waybar {
  background: rgba(0, 0, 0, 0.8);
  color: #BABBF1;
}

#workspaces button {
  box-shadow: none;
  border: 0;
}

#workspaces button.focused,
#workspaces button.focused:hover {
  color: #FFF;
}

#workspaces button:hover {
  background: transparent; /* prevents the ugly white block background */
}

#workspaces button.focused:hover {
  color: #FFF;
}

#custom-power {
  padding-left: .9rem;
}

#memory {
  color: #E5C890;
  padding-left: .7rem;
}

#cpu {
  padding: 0 .5rem;
}

#battery {
  padding: 0 .5rem;
  color: #A6D189;
}

#battery.warning:not(.charging) {
  color: #E78284;
}

#backlight {
  color: #E5C890;
  padding: 0 .5rem;
}

#backlight,
#battery {
  border-radius: 0;
}

#pulseaudio {
  color: #EA999C;
  padding: 0 .5rem;
}

#custom-power {
  margin-right: 1rem;
  color: #E78284;
}

#custom-vpn {
  padding: 0 .3rem;
}

#network {
  padding: 0 .5rem;
}

#custom-keyboard {
  padding: 0 .3rem;
}
